<launch>
    <!--Play ROSbag file-->
    <node name="rosbag" pkg="rosbag" type="play" args="$(find stag_ros)/bags/bundle_2.bag"  required="true"/>

    <!--Start Nodelet-->
    <node name="stag_ros_nodelet" pkg="stag_ros" type="stag_nodelet_runnable" output="screen" required="true" >
        <!-- Place the correct yaml file here-->
        <rosparam command="load" file="$(find stag_ros)/cfg/bundle_2.yaml"/>
        <!-- Place the correct bundle file here-->
        <rosparam command="load" file="$(find stag_ros)/cfg/bundle_config_2.yaml"/>
    </node>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stag_ros)/cfg/bundle_2.rviz" required="true"/>
</launch>