<launch>
    <!--Start Stag Node-->
    <node name="stag_node" pkg="stag_ros" exec="stag_node" output="screen">
        <!-- Place the correct yaml file here-->
        <param from="$(find-pkg-share stag_ros)/cfg/single.yaml" />
        <!-- Place the correct bundle file here-->
        <param from="$(find-pkg-share stag_ros)/cfg/single_config.yaml" />

    </node>
</launch>
